USE [master]
GO
/****** Object:  Database [UAISTORE]    Script Date: 5/11/2024 23:31:00 ******/
CREATE DATABASE [UAISTORE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UAISTORE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UAISTORE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UAISTORE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UAISTORE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UAISTORE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UAISTORE]
GO
/****** Object:  Table [dbo].[Aplicacion]    Script Date: 5/11/2024 23:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aplicacion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITULO] [varchar](80) NOT NULL,
	[DESCRIPCION] [varchar](80) NOT NULL,
	[DESARROLLADORA] [varchar](80) NOT NULL,
	[PRECIO] [decimal](18, 0) NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
 CONSTRAINT [PK_Aplicacion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 5/11/2024 23:31:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](90) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Aplicacion] ON 

INSERT [dbo].[Aplicacion] ([ID], [TITULO], [DESCRIPCION], [DESARROLLADORA], [PRECIO], [ID_CATEGORIA]) VALUES (1, N'Juegos', N'App sobre juegos de mesa ', N'UAI', CAST(50000 AS Decimal(18, 0)), 1)
INSERT [dbo].[Aplicacion] ([ID], [TITULO], [DESCRIPCION], [DESARROLLADORA], [PRECIO], [ID_CATEGORIA]) VALUES (2, N'Entervistas', N'App sobre simulacro de entrevistas', N'Id Software', CAST(30000 AS Decimal(18, 0)), 3)
INSERT [dbo].[Aplicacion] ([ID], [TITULO], [DESCRIPCION], [DESARROLLADORA], [PRECIO], [ID_CATEGORIA]) VALUES (3, N'Word office', N'App para escritura', N'Carambia', CAST(35000 AS Decimal(18, 0)), 2)
SET IDENTITY_INSERT [dbo].[Aplicacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([ID_CATEGORIA], [DESCRIPCION]) VALUES (1, N'JUEGO DE ACCION')
INSERT [dbo].[Categoria] ([ID_CATEGORIA], [DESCRIPCION]) VALUES (2, N'APP ESCRITORIO')
INSERT [dbo].[Categoria] ([ID_CATEGORIA], [DESCRIPCION]) VALUES (3, N'APP MOVIL')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
USE [master]
GO
